* {
  box-sizing: border-box;
}

:root {
  --body-bg: #fafaf8;
  --body-color: black;
  --header-bg: white;
  --header-color: #1e292e;
  --logo-filter: invert(0);
  --button-bg: #141413;
  --button-color: #fafaf8;
  --button-bg-hover: #444441;
  --button-recipe-bg: #d17557;
  --li-ingredients-color: #475467;
  --recipe-p-color: #6b7280;
  --recipe-bg: #f0efeb;
  --recipe-color: #475467;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--body-bg);
  color: var(--body-color);
}
header {
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 0.7rem;
  background-color: var(--header-bg);
  color: var(--header-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
}
button:hover {
  background-color: var(--button-bg-hover);
}

.logo {
  width: 2.7rem;
  filter: var(--logo-filter);
}

header > span {
  font-size: 2rem;
}

main {
  padding: 1.8rem 1.8rem 0.6rem;
}

.ingredient-form {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  height: 38px;
}

.ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 0.6rem 0.8rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}
.ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}
ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: var(--li-ingredients-color);
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--recipe-bg);
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: var(--recipe-p-color);
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: var(--button-recipe-bg);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--button-color);
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
}

.ai-recipe-container {
  color: var(--recipe-color);
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.ai-recipe-container ul li,
.ai-recipe-container ol li {
  margin-bottom: 8px;
}

.theme-toggler {
  font-size: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
}

body.dark-theme {
  --body-bg: #1a1a1a;
  --body-color: white;
  --header-bg: black;
  --header-color: #e1d6d1;
  --logo-filter: invert(1);
  --button-bg: #fafaf8;
  --button-color: #141413;
  --button-bg-hover: #e4e4e2;
  --button-recipe-bg: #2e8aa8;
  --li-ingredients-color: #b8ab98;
  --recipe-p-color: #948d7f;
  --recipe-bg: #0f1014;
  --recipe-color: #b8ab98;
}
